$primary-color:  #0056b3; // اللون الأساسي
$secondary-color: #FF6500; // اللون الثانوي
$text-color: #222222;
$background-color: #ffffff; // لون الخلفية العامة
$shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$easing: ease-in-out;